[submodule "bb_drivers/package/sharp"]
	path = beepy_drivers/package/sharp-drm
	url = git@github.com:ardangelo/sharp-drm-driver.git
	branch = master

[submodule "bb_drivers/package/bbqX0kbd"]
	path = beepy_drivers/package/beepy-kbd
	url = git@github.com:ardangelo/beepberry-keyboard-driver.git
	branch = main
